In [2]:
import pandas as pd

In [5]:
#load the database
df = pd.read_csv("Restaurant_Transactions_Dataset.csv")

#DISPLAY FIRST 5 ROWs
df.head()

,Customer_ID,Food_Item,Category,Date_of_Visit,Time,Weather,Price,Weekend,Public_Holiday
0,1075,Smoothie,Cold,24/03/2023,12:30,Sunny,14.8800,No,No
1,1030,Soup,Hot,19/03/2023,14:30,Raining,6.7176,Yes,No
2,1055,Ice Cream,Cold,24/03/2023,10:30,Sunny,14.2700,No,No
3,1058,Ice Cream,Cold,05/03/2023,22:00,Sunny,14.6880,Yes,No
4,1084,Smoothie,Cold,29/03/2023,16:30,Sunny,8.8440,No,Yes